<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta codigo="1880333856">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" th:href="@{css/style.css}">
	<title>Site exercicio 2 unidade</title>
</head>
<body>
<nav>
			<ul>
				<li><a href="">HOME</a></li>
				<li><a href="">NOTÍCIAS</a></li>
				<li><a href="/cadastrarClientes">ADICIONAR PESSOAS</a></li>
				<li><a href="/listarPessoas">LISTA DE PESSOAS</a></li>
				<li><a href="">SOBRE</a></li>
				<li><a href="">E-MAIL</a></li>
			</ul>
		</nav>
	
</body>
</html>